.row
  .column.grid_7
    %p
  .column.grid_5
    %p.extlink
      %a{:href => "javascript:void(0);", :onclick =>"mpmetrics.track('click link', {'link item': 'quinn-direct'},function() { window.location = 'http://www.quinn-direct.com'; });" } Looking for Quinn-Direct Insurance?
.row
  .column.grid_12
    %h1 Andy Quinn
    %h2 Freelance Web Developer
.row
  .column.grid_12
    .row
      %p.column.grid_1
        %a{:href => "http://www.twitter.com/andyquinn"} 
          %img{:alt => "Twitter", :src => "/images/twitter.png",:width=>'32', :height => '32'}
      %p.column.grid_1
        %a{:href => "skype:andy_quinn?chat"}
          %img{:src=>'/images/skype.png', :width=>'32', :height => '32', :alt=>'Skype Status'}
      %p.column.grid_1
        %a{:href => "http://github.com/aquinn"} 
          %img{:alt => "Github", :src => "/images/github.png", :width=>'32', :height => '32'}
      %p.column.grid_1
        %a{:href => "http://www.facebook.com/pages/Quinn-Webworks/159477167441214"} 
          %img{:alt => "Facebook", :src => "/images/facebook.png", :width=>'32', :height => '32'}
      %p.column.grid_1
        %a{:href => "http://pinboard.in/u:aquinn/"} 
          %img{:alt => "Pinboard bookmarks", :src => "/images/delicious.png", :width=>'32', :height => '32'}
      %p.column.grid_1
        %a{:href => "http://blog.quinn.ie"} 
          %img{:alt => "Blog", :src => "/images/tumblr.png", :width=>'32', :height => '32'}

.row
  .column.grid_12
    #services
      %h1 Services
      %p
        %ul
          %li
            %p
              Complete website design and development
            %p
              Get your business online quickly. I work with designers locally or if you already have a design I can develop and host it for you. I'll take care of all the details and it doesn't have to cost you an arm and a leg.
          %li
            %p
              Mobile applications
            %p 
              Got an app idea? Want your website to run as an app? I can build an app for you that will work on all major smartphones and the iPad.
      %p
        Sometimes you're not exactly sure what you want. I work fast and don't mind throwing away ideas and starting from scratch. I'm a fan of the Agile way of working where customer and developer are in regular communication. Pace of development is rapid and risk is low.
      
.row
  .column.grid_12
    #about
      %h1 About your Developer
      %p
        Andy is based in Galway city and graduated from GMIT in 2005 with an honours B.Eng in Digital and Software Systems. Working on a M.Sc in Computing now part time.
      %p
        Find me on Skype.
      %p
        Or send me an email with the form below.
      %p
        This website is in development. Portfolio will be added shortly. 

.row
  .column.grid_12
    #response    

.row
  .column.grid_12
    #contact
      %form{:id=>"commentForm", :class=>"cmxform", :action => "/comment", :method => "post"}
        %table
          .name
            %tr
              %td
                %label{:for => "name"} Name
              %td
                %input{:id=>"name", :class=>"required",:name => "name", :type => "text"}
              %td
          .email
            %tr
              %td
                %label{:for => "email"} Email
              %td
                %input{:id=>"email", :class=>"required",:name => "email", :type => "text"}
          .phone
            %tr
              %td
                %label{:for => "phone"} Phone/SkypeID
              %td
                %input{:id=>"phone",:name => "phone", :type => "text"}
              %td
          .comment
            %tr
              %td 
                %label{:for => "comment"} Make a comment..
            %tr
              %td{:align => "left", :colspan => "3"}
                %textarea{:id=>"comment", :class=>"required",:cols => "30", :name => "comment", :rows => "8"}
          .send
            %tr
              %td{:align => "left", :colspan => "3"}
                %input{:id=>"submit",:name => "submit", :type => "submit", :value => "Send"}
                #loading
                  %img{:alt => "Loading", :src => "/images/loading.gif", :width=>'60', :height => '20'}

.row
  .column.grid_12
    %br
    %br
:javascript
  var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E'));
:javascript 
  try {  var mpmetrics = new MixpanelLib('69f946f3e1de8cd05f784fd7f11c2002'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } 

