!!! 5
%html
  %head
    %meta{:name => "robots", :content => "noindex" }
    %title Andy Quinn
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}  
  %body
    #fortune
      %p 
        Fortune: = fortune
    %p
      %a{:href => "http://www.twitter.com/andyquinn"}
        Twitter
    %p
      %a{:href => "http://www.github.com/aquinn"}
        Github
    %p
      %a{:href => "http://www.youtube.com/watch?v=jZeVlVcDC5k"}
        Workinonit!
