!!! 5
%html
  %head
    %meta{:charset=>"utf8"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico", :type=>"image/x-icon"}
    %meta{:content => "Website design and development. Web application and mobile app development.", :name=> "description" }
    -#%meta{:content => "follow, index", :name => "robots"}
    %meta{:content => "noindex", :name => "robots"}
    %meta{:content => "Quinn Webworks", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "Quinn Webworks", :property => "og:site_name"}
    %meta{:content => "http://quinn.ie", :property => "og:url"}
    %meta{:content => "http://quinn.ie/images/logo-og.png", :property => "og:image"}
    %meta{:content => "Website design and development. Web application and mobile app development.", :property => "og:description"}

    %title Quinn.ie

    %script{:type => "text/javascript",:src  => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
    %script{:type => "text/javascript",:src  => '/javascripts/analytics.js'}
    %script{:type => "text/javascript", :src => '/javascripts/jquery.form.js'}
    %script{:type => "text/javascript",:src  => '/javascripts/app.js'}
    
    %link{:rel=>'stylesheet', :href=>'/stylesheets/grid.css', :type => "text/css"}  
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}  
    %link{:rel=>'stylesheet', :href=>'http://fonts.googleapis.com/css?family=Bevan:regular', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911:regular', :type => "text/css"}
  %body
    = yield


