article, header, footer, hgroup
  display: block

html
  background: white
  color: black

body
  width: 700px
  margin: 0 auto
  padding: 0
  font-family: 'Goudy Bookletter 1911', serif
  font-size: 26px
  font-style: normal
  font-weight: 400


li
  list-style: none
  background-image: url(/images/bullet.png)
  background-repeat: no-repeat
  background-position: 0px .2.8em
  padding-left: 1.5em
  

h1
  color: inherit !important
  font-family: 'Bevan', serif
  font-size: 66px
  font-style: normal
  font-weight: 400

h2
  font-size: 45px

article h1
  text-align: center
  font-size: 30px


.left
  width: 50%
  float: left
  display: inline

.right
  width: 50%
  float: right
  display: inline
  text-align: left

.contact
  width: 100%
  float: left



.face img
  -webkit-box-shadow: 3px 3px 6px #000000
  -moz-box-shadow: 3px 3px 6px #000000
  box-shadow: 3px 3px 6px #000000

img
  border: 0

a
  target: _blank

label.error 
  color: black
  padding-left: 3px


input
  background: white
  color: black
  border: black 1px solid

