body
  margin: 20px 0 0 0
  background-color: #323232
  background: url('/images/bg.png') repeat
  color: #333

h1
  font-family: 'Bevan', serif
  font-size: 46px
  font-style: normal
  font-weight: 200

h2
  font-family: 'Bevan', serif
  font-size: 35px
  font-style: normal
  font-weight: 200

p.extlink
  font-size: 15px

p, label
  text-align: left
  font-family: 'PT Sans', arial, serif
  font-size: 24px
  font-style: normal
  font-weight: normal
  margin: 0 0 20px 0
  color: #333
  text-shadow: none
  text-decoration: none
  text-transform: none
  letter-spacing: 0em
  word-spacing: 0em
  line-height: 1.2

li
  list-style: none
  background-image: url(/images/bullet.png)
  background-repeat: no-repeat
  background-position: 0 .2.8em
  padding-left: 2.5em
  
img
  border: 0

a
  target: _blank
  color: #333333
  text-decoration: underline

a img 
  text-decoration: none
  border-style: none

a:hover
  text-decoration: none


a:active 
  color: red


input
  background: white
  color: black
  border: black 1px solid
  padding: 6px


#response p
  color: red

#loading
  display: none
